:host:hover {
  opacity: 0.85;
  box-shadow: 3px 3px 3px rgb(196, 196, 196);
  border-radius: 5px;
  cursor: pointer;
}
/*.card {
  border-radius: 30px;
}
.card-img-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}*/
.tag-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.tags {
  background-color: grey;
  border-radius: 2px;
  padding: 0px 4px 0px 4px;
  height: 25px;
}
