:host:hover {
  opacity: 0.9;
  box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.3);
  border-radius: 13px;
  cursor: pointer;
}
.card {
  border-radius: 13px;
}
.card-img-top {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.tag-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.tags {
  background-color: grey;
  border-radius: 2px;
  padding: 0px 4px 0px 4px;
  height: 25px;
}
.card-title {
  font-family: "TT Norms Pro", sans-serif;
}
