<app-header></app-header>
<h5 class="title">
  <img src="../assets/Projects.svg" alt=" Project title" class="title-img" />
</h5>
<p class="subtitle">
  These are projects that I carried out in my free time and in professional
  contexts.
</p>
<p class="subtitle">
  Since my projects are very interdisciplinary you can filter them by selecting
  the relevant tags
</p>
<div class="container-btn">
  <button
    (click)="selectUserTags('Data Science')"
    [ngClass]="this.mytags[0].style"
  >
    DATA SCIENCE
  </button>
  <button (click)="selectUserTags('Teaching')" [ngClass]="this.mytags[1].style">
    TEACHING
  </button>
  <button
    (click)="selectUserTags('Work in Progress')"
    [ngClass]="this.mytags[2].style"
  >
    WORK IN PROGRESS
  </button>
</div>
<div class="container-projects">
  <app-project-card
    *ngFor="let p of this.userProjectList"
    [project]="p"
    (click)="openModal(p)"
  ></app-project-card>
</div>
<app-project-modal
  *ngIf="this.activeModal"
  [project]="this.clickedProject"
  (closingEmitter)="this.closeModal($event)"
></app-project-modal>
