<div class="mycontainer">
  <app-header></app-header>
  <div class="content-container">
    <div class="image-block">
      <img class="image" src="/assets/contact.jpg" alt="Card image cap" />
    </div>
    <div class="contact-block">
      <div class="buffer"></div>
      <div class="title">Contact</div>
      <div class="subtitle">
        Hello this is my contact text I don't know what I should write here so
        please help me decide.
      </div>
      <div class="subtitle">
        Maybe I should have a second sentence so the first one doesn't feel as
        lonely ?
      </div>
      <div class="icons-container">
        <button class="icon">
          <img src="../assets/Mail.svg" alt="Mail icon" class="img-icon" />
        </button>
        <button class="icon">
          <img
            src="../assets/Linkedin.svg"
            alt="Linkedin icon"
            class="img-icon"
          />
        </button>
        <button class="icon">
          <img src="../assets/Github.svg" alt="Github icon" class="img-icon" />
        </button>
        <button class="icon">
          <img src="../assets/Kaggle.svg" alt="Kaggle icon" class="img-icon" />
        </button>
        <button class="icon">
          <img
            src="../assets/StackOverflow.svg"
            alt="StackOverflow icon"
            class="img-icon"
          />
        </button>
      </div>
    </div>
  </div>
</div>
