:host {
  height: 100%;
  width: 100%;
}
.mycontainer {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //flex-wrap: wrap;
  //align-items: center;
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.image-block {
  width: auto;
  margin: 5% 5% 5% 5%;
  @media (max-width: 500px) {
    order: 2;
  }
}
.image {
  max-width: 30vw;
  border-radius: 15px;
  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.contact-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: 500px) {
    order: 1;
  }
}
.buffer {
  height: 10%;
  @media (max-width: 500px) {
    height: 0px;
  }
}
.title {
  border-radius: 15px;
  margin-right: 8%;
  background-color: rgba(1, 167, 191, 1);
  font-style: bold;
  font-weight: bolder;
  font-size: 70px;
  color: white;
  font-family: "TT Norms Pro", sans-serif;
  text-align: center;
  margin-bottom: 4rem;
  @media (max-width: 500px) {
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 38px;
    margin-bottom: 1rem;
  }
}

.subtitle {
  margin-right: 8%;
  text-align: center;
  font-family: "TT Norms Pro", sans-serif;
  color: grey;
  margin-bottom: 0%;
  margin-top: 0%;
  @media (max-width: 500px) {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 13px;
  }
}
.icons-container {
  margin-right: 8%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  @media (max-width: 500px) {
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

.icon {
  height: 100px;
  width: 100px;
  padding: 0;
  border: none;
  background: none;
  border-radius: 200px;
  @media (max-width: 500px) {
    height: 50px;
    width: 50px;
  }
}
.img-icon {
  height: 100px;
  width: 100px;
  padding: 0;
  border: none;
  background: none;
  @media (max-width: 500px) {
    height: 50px;
    width: 50px;
  }
}
.icon:hover {
  opacity: 0.7;
}
