<div class="image">
  <app-header class="test"></app-header>
  <img class="background" src="assets/Background.jpg" alt="Coding Background" />
  <div class="block">
    <p class="name">Camille Duquesne</p>
    <p class="email">camille.duquesne@cri-paris.org</p>
    <p class="text">
      I am a teacher, data scientist, artist and life long learner.
    </p>
    <p class="text">
      I would be glad to assist you in your data analysis and pedagogical
      engenering tasks !
    </p>
    <button type="button" class="btn btn-light">
      <a class="button-text" href="/projects"> View My Projects </a>
    </button>
  </div>
</div>
